# Private config
config.js
.env

# Generated helpers
cats.txt

# Firebase config
.firebase/
.firebaserc

# Logs
logs
*.log
firebase-debug.log*
firebase-debug.*.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Virtual Environments
.venv
venv/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
